
#gallery {
      margin: 0 auto;
}
.statusButton{

}
.queueItem {
  margin: 5px;
  float: left;
  text-align: center;
  /*display: block;*/
  background-color: rgba(255,255,255,1);
  border: 3px solid rgb(191,191,191);
  border-radius: 0.5em;
  padding: 5px;
  width: 200px;
  height: 230px;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
}

.vbusy-border {
  border: 3px solid rgb(212, 51, 59);
}

.busy-border {
  border: 3px solid rgb(247, 134, 78);
}

.normal-border {
  border: 3px solid rgb(235, 221, 40);
}

.light-border {
  border: 3px solid rgb(61, 224, 52);
}

.queue-image {
  position: relative;
  width: 95%;
  height: 90px;
  object-fit: cover;
}

.vbusy {
  background: rgb(212, 51, 59);
}

.busy {
  background: rgb(247, 134, 78);
}

.normal {
  background: rgb(235, 221, 40);
}

.light {
  background: rgb(61, 224, 52);
}

.queue-timestamp {
  font-size: 10px;
}
.queue-comments {
  font-size: 14px;
  margin-bottom: 8px;
}
.queue-status {
  height: auto;
  display: block;
  margin-top: -5px;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  border-radius: 2px;
}
