
a.boxclose{
    /*float:right;*/
    position: relative;
    top: -12px;
    right: -105px;
    cursor:pointer;
    color: lightgrey;
    height: 4px;
    /*border: 1px solid white;*/

    background: rgba(0,0,0,0);
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 13px 7px;
    /*border: 3px solid #7456e9;
    color: #7456e9;*/
}

.boxclose:before {
    content: "×";
}

a.boxclose:hover {
  /*background: #7456e9;*/
  color: #7456e9;
}

.queue-image-for-account {
  position: relative;
  top: -20px;
}

.queue-info-for-account {
  position: relative;
  top: -20px;
}

.queueItem-account {
  margin-top: 2%;
  margin-left: 1.5%;
  float: left;
  text-align: center;
  /*display: block;*/
  background-color: rgba(255,255,255,1);
  /*border: 3px solid rgb(191,191,191);*/
  border-radius: 0.5em;
  padding: 10px;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  page-break-inside: avoid;
  /*overflow: hidden;*/
}

.queueItem-account-regular {
  width: 230px;
  height: 200px;
}

.queueItem-account-clinicAdmin {
  width: 230px;
  height: 280px;
}
