.sideBar {
  position: absolute;
  width: 33%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  top: 11%;
  left: 65%;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 10px;
  overflow: scroll;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
