.AboutBar {
  position: absolute;
  z-index: 1;
  height: 20px;
  width: 100vw;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
}

.AboutButton {
  height: 20px;
  width: 20px;
  background-color: black;
  margin-left: 49%;
  decoration: none;

}

.arrow {
  margin-left: 49%;
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
