nav {
  height: 70px;
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, #4776E6, #8E54E9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #4776E6, #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 1px 1px 10px #888888;
}
.navbar-fixed {
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
}

.logo {
  margin-top: -10px;
  margin-left: 2%;
}
.logoName {
  display: inline-block;
  margin-top: 17px;
  margin-left: 1%;
  color: white;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: .02em;
}

.container-2{
  width: -200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-top: 15px;
  margin-right: 20px;
}
.container-2 input#search{
  width: 50px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
  color: white;
  padding-right: 15px;


  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}
.container-2 input#search::-webkit-input-placeholder {
   color: white;
}

.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: white;
}

.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

.container-2 input#search:-ms-input-placeholder {
   color: white;
}
.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 15px;
  margin-top: 8px;
  z-index: 1;
  color: white;
}
.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 200px;
}

.container-2:hover input#search{
width: 200px;
}

.container-2:hover .icon{
  color: white;
}

.navLogin {
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin-top: 17px;
  margin-right: 3%;
  letter-spacing: 0.01em;
}
.navLogin:hover {
  color: white;
  text-decoration: underline;
}
.navLogin:focus {
  color: white;
  text-decoration: none;
}
.navLogin:focus:hover {
  color: white;
  text-decoration: underline;
}

.nearsetBtn {
  margin-top: -10px;
  margin-left: 5%;
  color: white;
  font-size: 20px;
}
.nearsetBtn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
  font-size: 20px;
}

.sideBarBtn {
  margin-left: 2%;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.sideBarBtn:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
}

.dropDownList {
  position:absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 265px;
  height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  right: 4%;
  z-index: 5;
}
