.NavbarWhite {
  height: 70px;
  background: rgba(255, 255, 255, 1);  /* fallback for old browsers */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border: 0;
  border-bottom: 2px solid #8E54E9;
}

.logoColor {
  margin-top: -10px;
  margin-left: 2%;
}
.logoNameColor {
  display: inline-block;
  margin-top: 15px;
  margin-left: 1%;
  color: #8E54E9;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: .02em;
}

.navLoginWhite {
  color: #8E54E9;
  font-weight: 400;
  font-size: 25px;
  margin-top: 11px;
  margin-right: 3%;
  letter-spacing: 0.01em;
  padding: 2px 10px 4px 10px;
  border: 3px solid #8E54E9;
  transition: all 0.3s;
}
.navLoginWhite:hover {
  cursor: pointer;
  color: #fff;
  background-color: #8E54E9;
}
.navLoginWhite:focus {
  color: #8E54E9;
  text-decoration: none;
}
.navLoginWhite:focus:hover {
  color: #8E54E9;
  text-decoration: underline;
}

.homeBtnWhite {
  margin-left: 2%;
  color: #8E54E9;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}
.homeBtnWhite:hover {
  color: #8E54E9;
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
}
