path.line {
  fill: none;
  stroke: #666;
  stroke-width: 5px;
}

.svgBox {
  margin: 10px;
  background-color: white;
}

.positiveDifference {
  color: rgba(167,49,49,1);
  font-size: 2em;
}

.negativeDifference {
  color: rgba(40,89,223,1);
  font-size: 2em;
}
