.poly-clinic-info {
  width: 90%;
  margin: auto;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 5px;
}

.axis text {
   font-size: 3em;
}

text.x-axis-label {
  font-size: 3em;
}

.svgBox {
  margin: 10px;
  background-color: white;
}

.positiveDifference {
  color: rgba(167,49,49,1);
  font-size: 2em;
}

.negativeDifference {
  color: rgba(40,89,223,1);
  font-size: 2em;
}
