
#submitQueue {
  /*width: 200px;*/
  /*height: 80vh;*/
  /*position: relative;*/
  /*float: right;*/
}

.queueButton {
  margin: 10px;
}

section {
  display: flex;
  flex-flow: row wrap;
}
section > div {
  flex: 1;
  padding: 0.5rem;
}
input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  :disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}
.statusSelection {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid hsla(150, 75%, 50%, 1);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}

#statusSelection1:hover {
  color: white;
  background: hsla(150, 75%, 50%, 1);
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
}

#statusSelection2:hover {
  color: white;
  background: hsla(150, 75%, 50%, 1);
  border-color: hsla(150, 75%, 50%, 1);
}

#statusSelection3:hover {
  color: white;
  background: rgb(244, 206, 66);
  border-color: rgb(244, 206, 66);
}

#statusSelection4:hover {
  color: white;
  background: red;
  border-color: red;
}

#statusSelection4:active {

}

input[type="radio"]:checked + label {
  background: hsla(150, 75%, 50%, 1);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid hsla(150, 75%, 45%, 1);
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}
input[type="radio"]#control_05:checked + label {
  background: red;
  border-color: red;
}
p {
  font-weight: 900;
}
