.notificationBar {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 60px;
  left: 30%;
  height: 40px;
  width: 40vw;
  z-index: 20;
  border-radius: 2px;
  text-align: center;
  font-size: 25px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -200%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}
