.queueGalleryContainer {
  margin-top: 70px;
  /*width: 60%;
  height: 100vh;
  display: inline-block;*/
}

.submitQueueContainer {
  margin-top: 70px;
  /*width: 40%;
  height: 100vh;
  display: inline-block;*/
}
