.queueGalleryContainer {
  margin-top: 70px;
  /*width: 60%;
  height: 100vh;
  display: inline-block;*/
}

.submitQueueContainer {
  margin-top: 70px;
  /*width: 40%;
  height: 100vh;
  display: inline-block;*/
}

.queueGallery {
  margin-top: -10px;
  max-width: 90%;
  margin-left: 5%;
}

.queue-gallery-jumbotron {
  margin-top: 15px;
  padding-left: 10px;
  background-color: rgba(255,255,255,1);
  border: solid #7456e9 2px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  height: 80vh;
  overflow: scroll;
  padding: 40px;
}
.queueLeftSide {
  position: absolute;
  background-color: rgb(225, 225, 225);
  height: 100%;
  width: 65%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: scroll;
  padding: 20px;
}

.queueRightSide {
  right: 0;
  display: inline-block;
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 35%;
  -webkit-box-shadow: -1px 0px 3px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px 0px 3px -1px rgba(0,0,0,0.3);
  box-shadow: -1px 0px 3px -1px rgba(0,0,0,0.3);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: scroll;
  padding: 20px;
}
