.clinicHoverWindow {
  position:relative;
  /*display: inline-block;*/
  top:-30px;
  left: -20px;
  width: 130px;
  text-align: left;
  background-color:rgba(160, 239, 239,0.6);
  border-radius: 5px;
  transition: background-color 1.0s ease;
  z-index:1
}

.triangleForHoverWindow {
  position: relative;
  top: -35px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 100% solid transparent;
  border-top: 30px solid rgba(160, 239, 239,0.6);
  /*background: linear-gradient(top, #f9d835, #f3961c);*/
}

/*.triangleForHoverWindow:after {
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
}*/
