.SignupField {
  display: block;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 2px;
}
.Signup {
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 900px;
  width: 100vw;
}
@media (min-height: 900px) {
  .Signup {
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
  }
}
.SignupField:focus {
  outline: none;
  border: solid 1px #a87ee8;
  box-shadow: 0 0 5px 1px #a87ee8;
}
.SignupComments {
  color: white;
  font-size: 12px;
  margin-top: -15px;
  letter-spacing: 0.03em;
}

#Susername {
  margin-top: 0px;
}
#SRePassword {
  margin-bottom: -20px;
}

#Spassword, #SRePassword, #SSignEmail, #Scontact {
  margin-top: 20px;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: -10px;
  text-align: center;
  margin-left: -7%;
}

.checkBoxLabel {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;

  font-size: 20px;
}
.checkBoxLabel .checkBoxSpan {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 3px solid #fff;
  border-radius: 50%;
  vertical-align: -6px;
  margin-right: 10px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkBoxLabel .checkBoxSpan:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: 13px;
  left: 9px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
  margin-left: -3px;
  margin-top: -3px;
}
.checkBoxLabel .checkBoxSpan:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  transform: rotate(305deg);
  top: 16px;
  left: 10px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
  margin-left: -3px;
  margin-top: -3px;
}
.checkBoxLabel:hover .checkBoxSpan:before {
  width: 5px;
  transition: width 100ms ease;
}
.checkBoxLabel:hover .checkBoxSpan:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.checkBoxInput[type="checkbox"] {
  display: none;
}
.checkBoxInput[type="checkbox"]:checked + .checkBoxLabel .checkBoxSpan {
  background-color: #fff;
  transform: scale(1.25);
}
.checkBoxInput[type="checkbox"]:checked + .checkBoxLabel .checkBoxSpan:after {
  width: 10px;
  background: #a87ee8;
  transition: width 150ms ease 100ms;
}
.checkBoxInput[type="checkbox"]:checked + .checkBoxLabel .checkBoxSpan:before {
  width: 5px;
  background: #a87ee8;
  transition: width 150ms ease 100ms;
}
.checkBoxInput[type="checkbox"]:checked + .checkBoxLabel:hover .checkBoxSpan {
  background-color: #fff;
  transform: scale(1.25);
}
.checkBoxInput[type="checkbox"]:checked + .checkBoxLabel:hover .checkBoxSpan:after {
  width: 10px;
  background: #a87ee8;
  transition: width 150ms ease 100ms;
}
.checkBoxInput[type="checkbox"]:checked + .checkBoxLabel:hover .checkBoxSpan:before {
  width: 5px;
  background: #a87ee8;
  transition: width 150ms ease 100ms;
}

.searchInput {
  display: block;
  margin: 0;
  width: 90%;
  margin-left: 5%;
  font-family: inherit;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 2px;
  margin-top: 25px;
}

.signWell {
  background-color: rgba(255,255,255,0.1);
  border-radius: 2px;
  border: 2px solid #fff;
  margin-top: 40px;
  padding-bottom: 22px;
  box-shadow: inset 0 0 5px #000000;
}
.signupComments {
  color: white;
  font-size: 12px;
  letter-spacing: 0.03em;
  margin-top: 5px;
  margin-left: 5%;
  margin-bottom: -5px;
}
